@model Myvehiclespazes.Models.Rental

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rental</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Customer.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Customer.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Vehicle.ModelName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Vehicle.ModelName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RentalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Returned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Returned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Invoiced)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Invoiced)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalAmount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RentalAmount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RentalId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
